<footer class="container">
    <div class="footer">
        <div class="footer-logo">
            <h2>Wordki</h2>
        </div>
        <div class="row" [ngStyle]="{'justify-content' : 'space-between', 'padding-top' : '20px'}">
            <div class="footer-menu row">
                <a class="footer-menu-item">About us</a>
                <a class="footer-menu-item">Dictionaries</a>
                <a class="footer-menu-item">Quizes</a>
            </div>
            <div class="footer-socials row">
                <div class="footer-socials-sidebar-item">
                    <a href="#"><i class="fab fa-linkedin-in icon"></i></a>
                </div>
                <div class="footer-socials-sidebar-item">
                    <a href="#"><i class="fab fa-facebook icon"></i></a>
                </div>
                <div class="footer-socials-sidebar-item">
                    <a href="#"><i class="fab fa-github icon"></i></a>
                </div>
            </div>
        </div>
    </div>
    <h5 class="copy-rights">Wordki &copy; {{ date }}. All right reserved</h5>
</footer>