<div class="container col">
    <h2 class="center-txt">See what wordki offers</h2>
    <div class="offer row">
        <div class="offer-content col center-txt">
            <div class="offer-content-details row">
                <div class="offer-content-details-item">
                    <img src="assets/couple-1807617_1920.jpg" alt="picture">
                    <h5 class="center-txt">1-on-1 lessons</h5>
                    <p>Find teachers from all over the world sharing their languages, dialects, and cultures.</p>
                    <a href="#">See more</a>
                </div>
                <div class="offer-content-details-item">
                    <img src="assets/couple-1807617_1920.jpg" alt="picture">
                    <h5 class="center-txt">Group Class</h5>
                    <p>Fun and engaging online group classes designed and led by expert teachers.</p>
                    <a href="#">See more</a>
                </div>
                <div class="offer-content-details-item">
                    <img src="assets/couple-1807617_1920.jpg" alt="picture">
                    <h5 class="center-txt">Practice for free</h5>
                    <p>Meet and share experiences with millions of language learners from more than 190 countries.</p>
                    <a href="#">See more</a>
                </div>
            </div>
        </div>
    </div>
</div>