<div class="container col">
    <h2 class="center-txt">See what testName offers</h2>
    <div class="offer row">
        <div class="offer-content col center-txt">
            <div class="offer-content-details row">
                <div class="offer-content-details-item">
                    <img src="assets/couple-1807617_1920.jpg" alt="picture">
                    <h5 class="center-txt">Enroll in personalized 1-on-1 lessons</h5>
                    <p>Discover language teachers from around the globe sharing their languages, dialects, and cultures.</p>
                    <a href="#">See more <i class="fas fa-chevron-right" [ngStyle]="{'font-size' : '0.8em'}"></i></a>
                </div>
                <div class="offer-content-details-item">
                    <img src="assets/couple-1807617_1920.jpg" alt="picture">
                    <h5 class="center-txt">Join group classes</h5>
                    <p>Experience dynamic and interactive online group classes, carefully crafted and facilitated by skilled instructors.</p>
                    <a href="#">See more <i class="fas fa-chevron-right" [ngStyle]="{'font-size' : '0.8em'}"></i></a>
                </div>
                <div class="offer-content-details-item">
                    <img src="assets/couple-1807617_1920.jpg" alt="picture">
                    <h5 class="center-txt">Engage in free practice sessions.</h5>
                    <p>Connect and exchange experiences with a vibrant community of language learners spanning over 190 countries.</p>
                    <a href="#">See more <i class="fas fa-chevron-right" [ngStyle]="{'font-size' : '0.8em'}"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>