@import 'src/styles/mixins.scss';

:host {
    .container-dialog {
        position: relative;
        width: 400px;

        h1 {
            font-size: 25px!important;
            margin-bottom: 0!important;
            padding-bottom: 20px;
        }

        .mat-dialog-content {
            padding: 0;

            .test {
                padding: 0 20px;
                display: flex;
                flex-direction: column;
            }
        }

        button {
            position: absolute;
            top: -10px;
            right: -5px;
            padding: 0;
            background: transparent;
            cursor: pointer;
            z-index: 10;

            @include mobile {
                top: -25px;
                right: -25px;
            }
        }

        @include mobile {
            width: auto;
        }
    }
}

::ng-deep .mat-dialog-container {
    border-radius: 10px;
    overflow: hidden;
}