@import 'src/styles/mixins.scss';

:host {
    .container-dialog {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 500px;

        h1 {
            font-size: 25px!important;
            margin-bottom: 0!important;
            padding-bottom: 20px;
        }

        .mat-dialog-content {
            padding: 0;

            .list {
                padding: 0 20px;
                display: flex;
                flex-direction: column;
            }
        }

        button {
            position: absolute;
            top: -10px;
            right: -5px;
            padding: 0;
            background: transparent;
            cursor: pointer;
            z-index: 10;

            @include mobile {
                top: -25px;
                right: -25px;
            }
        }

        @include mobile {
            width: auto;
        }

        .btn {
            position: unset;
            display: block;
            text-align: center;
            padding: 5px 25px;
            width: fit-content;
            margin: auto;
        }

        .submit {
            background-color: #673ab7;
            color: white;
        }

        .disable {
            background-color: lightgray;
            color: gray;
            pointer-events: none; 
        }

        form {
            padding: 0 24px;
        }
    }
}

::ng-deep .mat-dialog-container {
    border-radius: 10px;
    overflow: hidden;
}