:host {
    .nav {
        display: flex;
        justify-content: space-between;
        &-logo {
            font-size: 2rem;
            font-weight: 500;
            cursor: pointer;
        }
        &-menu {
            display: flex;
            gap: 20px;
            &-item {
                font-size: 1.8rem;
            }
        }
    }
}