html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    border: 0;
}

body {
    font-size: 1.6rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

body::-webkit-scrollbar {
    width: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;

    @include mobile {
        font-size: 1.6rem;
    }
}

a:hover {
    color: #673ab7;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-position: center; 
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
}

h1 {
    font-size: 3.6rem;
    font-weight: 500;

    @include tablet {
        font-size: 3.3rem;
    }

    @include mobile {
        font-size: 3rem;
    }
}

h2 {
    font-size: 3rem;

    @include tablet {
        font-size: 2.7rem;
    }

    @include mobile {
        font-size: 2.4rem;
    }
}

h3 {
    font-size: 2.5rem;

    @include tablet {
        font-size: 2.2rem;
    }

    @include mobile {
        font-size: 1.9rem;
    }
}

p {
    font-size: 1.8rem;
    line-height: 1.2em;

    @include tablet {
        font-size: 1.6rem;
    }

    @include mobile {
        font-size: 1.5rem;
    }
}

button {
    font-size: 18px;
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

:focus-visible {
    outline: unset;
}

.mat-mdc-dialog-surface {
    padding: 20px;
}