.container {
    padding: 50px 100px;

    @include tablet {
        padding: 30px 50px;
    }

    @include mobile {
        padding: 20px;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 2rem;
}

.center {
    justify-content: center;
    align-items: center;
}
.center-txt {
    text-align: center;
}

.pb {
    padding-bottom: 50px;
}
.center-item {
    align-items: center;
}

.cdk-overlay-pane {
    @include mobile {
        max-width: 100vw!important;
        overflow: hidden;
        min-width: 350px;
    }
}