<div class="container col">
    <div class="about row">
        <div class="about-content col">
            <h1>Master proficiency in any language</h1>
            <div class="row">
                <mat-icon>stars</mat-icon>
                <p>Benefit from individualized 1-on-1 lessons, highly regarded by millions of users.</p>
            </div>
            <div class="row">
                <mat-icon>stars</mat-icon>
                <p>Gain knowledge from accredited instructors who accommodate your budget and schedule.</p>
            </div>
            <div class="row">
                <mat-icon>stars</mat-icon>
                <p>Join a diverse community of language learners from around the world.</p>
            </div>
            <button mat-raised-button color="primary" (click)="openDialog()">Start now</button>
        </div>
        <div class="about-picture">
            <img src="assets/couple-1807617_1920.jpg" alt="my second picture">
        </div>
    </div>
</div>