<div class="container col">
    <div class="about row">
        <div class="about-content col">
            <h1>Become fluent in any language</h1>
            <div class="row">
                <mat-icon>stars</mat-icon>
                <p>Take customizable 1-on-1 lessons trusted by millions of users</p>
            </div>
            <div class="row">
                <mat-icon>stars</mat-icon>
                <p>Learn from certified teachers that fit your budget and schedule</p>
            </div>
            <div class="row">
                <mat-icon>stars</mat-icon>
                <p>Connect with a global community of language learners</p>
            </div>
            <button>Start now</button>
        </div>
        <div class="about-picture">
            <img src="assets/couple-1807617_1920.jpg" alt="my second picture">
        </div>
    </div>
</div>